.calendar-result {
    position: fixed;
    top:0;
    left: 40%;
    padding: 1rem;
    background-color: rgb(255, 0, 0);
    opacity: .7;
    text-align: center;
}

.highlight {
    color:green;
}

.diary-booked{
    background: red !important;
}

.calendar {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.react-calendar {
  margin-top: 2rem;
}


