.calendar-result {
    position: fixed;
    top:0;
    left: 40%;
    padding: 1rem;
    background-color: rgb(255, 0, 0);
    opacity: .7;
    text-align: center;
}

.highlight {
    color:green;
}

.diary-booked{
    background: red !important;
}

.calendar {
  display: flex;
  flex-direction: column;
  
  & --diary {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  

}
