.adForm{
  
  &__title{
    text-align: center;
    margin-top: 1em;
  }

  &__component{
    display: flex;
  }

  &__diary{
    width: 50%;
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    //width: 50%;
  }
  &__unit{
    margin-top: 1em;
   
  }
  &__unit--radio{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
  }
  &__button{
    display: block;
    margin: auto;
    width: 300px;
    margin-top: 1em;
  }
  width: 500px;
  background-color: #cdcdcdbb;
}


button{
  //background-color: #cdcdcd !important;
  padding: 5px;
  border: 0;
  border-radius: 2px;
    font-size: 100%;
    font: inherit;
    margin-top: 10px;
    vertical-align: baseline;
    margin-left: auto;
    margin-right: auto;
}

.settings__input{
  border-radius: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  width:250px; 
}

#field-description{
  border-radius: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  width:300px;
  height: 100px;
}

.adForm__unit--radio{
display: flex;
flex-direction: column;
margin-left: auto;
margin-right: auto;
}

.adFormContainer {
  display: flex;
  justify-content: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
