.error {
  line-height: 10rem;
  display: flex;
align-items: center;  
flex-direction: column;
}

.container {
  width: 40%;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cdcdcdbb;
}




@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 0.5s linear infinite;
  position: absolute;
  width: 15rem;
}

.quatre {
  width: 50rem;
}
