.select {
  display: flex;
  justify-content: center;
  
}

input{
  margin: 5px !important;
  border-radius: 2px !important;
}

select{
  margin: 5px !important;
  border-radius: 2px !important;
}

button{
color: #ff000c;
font-size: larger;
}
