.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  //margin: 2em auto;
  text-align: center;
  background-image: url("/src/assets/1625169644043.jpg");
  background-size: cover;
 
}

