@use 'reset';
@use 'vars';


body {
  font-family: 'Poppins', sans-serif;
}

html, #root{
  background-image: url("/src/assets/1625169644043.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3 {
  font-weight: normal;
}

/*.ui action input selectSearchBar {
  border-bottom: solid black;
    border-top: solid black;
    padding: 30px 0px;
}

.ui cards card-group {
  padding-bottom: 30px;
}*/

img {
  max-width: 100%;
}

/*.login {
  padding-right: 5px;
}

p{
  font-style: italic;
  font-size: larger;
}

.button{
  background-color: red;
  color: white;
  font-weight: bold;
  border: solid black;

}

.footer {
  background-color: #bcb2b2;
  padding: 50px;
  border-top: solid black;
}
*/
